html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    margin: 2rem;
    
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    align-items: center;
}

nav{
    position: relative;
    top: 1rem;
    right: 3rem;

}

nav a{
    color: wheat;
    text-decoration: none;
}

nav a:hover{
    color: greenyellow;
}


section>li{
    color: white;
    font-size: 0.5rem;
}

.education{
    font-size: 300;
}

h1{
    font-size: 4rem;
    padding-top: 0rem;
}



section{
    border-radius: 2rem;
    padding: 10px 10px 10px 20px;
    margin-bottom:20px ;

    border-top: 5px solid tomato;
    border-bottom:  5px solid tomato;
    border-left: 3px solid ;
    border-right: 3px solid;

    
    font-size: 1.5rem;
    color: white;
}



nav{
    margin-left: 1rem;
    font-size: 1.5rem;
}

a{
    color: white;
    padding-left: 2rem;
    padding-bottom: 0px;
}
p{
    font-size: 1.5rem;
    padding-top: 0rem;
    padding-left: 2rem;
}


.content{
   
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    
  
}

article div{
    text-align: center;
    color: white;
}

.familiar{
    padding-left: 1rem;
    color: red;
    margin-bottom: 2rem;
}

article ul{
    color: wheat;
}



.contain{
   float: right;
   padding: 2rem;

}

footer{
    text-align: center;
    font-size: 1rem;
    background-color:white;
    justify-content: center;
    align-items: center;
}